.categories-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.categories-container .category-layer1 {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.categories-container .category-layer2 {
    margin-top: 1rem;
    padding-left: 3rem;
    /* padding-bottom: 1rem; */

}

.categories-container .category-layer3 {
    margin-top: 1rem;
    padding-left: 3rem;
    /* padding-bottom: 1rem; */

}

.categories-container .filenames {
    margin-top: 1rem;
    padding-left: 3rem;
    /* padding-bottom: 1rem; */
}

.categories-container .folder-icon {
    margin-right: 0.5rem;
    /* font-size: 1.5rem;   */
}