.post-container {
    height: 100%;
    width: 100%;
    display: inline-flex;
    background-color: rgb(39, 40, 43);
    /* border-radius: 1rem; */
    border: 2px solid rgb(156, 156, 156);
    cursor: pointer;
    transition: transform 200ms, border 100ms;
    overflow: hidden;
}

.post-container:hover {
    border: 2px solid rgb(255, 255, 255);
    /* transform: scale(1.02); */
}

.post-container .post-img-container {
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgb(27, 27, 27);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.post-container .post-img-container .color-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to left, rgba(39, 40, 43, 1) 0%, rgba(39, 40, 43, 0) 100%);
    z-index: 1;
}

.post-container .post-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.post-container .post-content {
    height: 100%;
    width: 70%;
    margin-left: 0;
    background-color: rgba(39, 40, 43, 1);
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.post-container .post-title {
    height: 50%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
}

.post-container .post-subtitle {
    height: auto;
    flex: auto;
    width: 100%;
    font-size: 1.2rem;
    color: rgb(179, 179, 179);
}

.post-container .post-information {
    height: auto;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: flex-end;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    color: rgb(117, 117, 117);
}

.post-container .post-category {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-transform: capitalize;
}

.post-container .post-category .category-icon {
    margin-bottom: 0.1rem;
    margin-right: 0.3rem;
}

.post-container .post-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2rem;
}

.post-container .post-date .date-icon {
    margin-bottom: 0.1rem;
    margin-right: 0.3rem;
}

/* 文章內 */
.post-file-content {
    height: auto;
    width: 100%;
    /* margin-left: 2rem; */
    /* padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem; */
    padding: 2rem;
    /* margin-bottom: 2rem; */
    /* border: 2px solid white; */
    font-family: 'Noto Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.post-file-content h2 {
    font-size: 1.75rem;
    color: rgba(204, 73, 82, 1);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
    font-weight: 700;
}

.post-file-content h3 {
    font-size: 1.5rem;
    color: rgba(205, 129, 81, 1);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
    font-weight: 600;
}

.post-file-content h4 {
    font-size: 1.25rem;
    color: rgb(255, 196, 0);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
    font-weight: 500;
}

.post-file-content li {
    margin: 0.5rem 0;
}

.post-file-content ul {
    opacity: 1;
}

.post-file-content ul ul {
    opacity: 0.9;
}

.post-file-content pre {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.post-file-content .code-syntax {
    /* overflow: visible,
    border: 1px solid gray,
    border-ra: 0.5rem,
    backgroundColor: rgba(0, 0, 0, 0.2) */
    overflow: visible;
    border: 1px solid gray;
    border-radius: 0.5rem;
    /* background-color: black; */
}

.post-file-content .code-syntax::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.post-file-content .code-syntax::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.2);
}

/* Customize the scrollbar thumb */
.post-file-content .code-syntax::-webkit-scrollbar-thumb {
    background-color: #515151;
    border-radius: 5px;
}

/* Customize the scrollbar when hovering over it */
.post-file-content .code-syntax::-webkit-scrollbar-thumb:hover {
    background-color: #515151;
}

.post-file-content .post-data {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */

    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;

}

.post-file-content .title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.post-file-content .update-time {
    font-size: 1rem;
    text-align: end;
    font-style: italic;
}

@media (max-width: 576px) {

    /* 576 768 992 1200 */
    .post-container .post-title {
        font-size: 1.2rem;
    }

    .post-container .post-subtitle {
        height: auto;
        flex: auto;
        font-size: 1rem;
    }

    .post-container .post-information {
        width: 100%;
        height: auto;
        flex: 1;
        flex-direction: column;
        padding-bottom: 0.2rem;
        padding-right: 0;
        justify-content: end;
        align-items: start;
        font-size: 0.8rem;
        display: flex;

    }

    .post-container .post-category {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .post-container .date-icon,
    .post-container .category-icon {
        font-size: 1rem;
    }

    .post-container .post-date {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .post-file-content ul {
        padding-left: 0rem;
    }

    .post-file-content ul ul {
        padding-left: 1rem;
    }
}

@media (max-width: 425px) {

    /* 576 768 992 1200 */
    .post-container .post-title {
        font-size: 1rem;
    }

    .post-container .post-subtitle {
        font-size: 0.8rem;
    }

    .post-container .post-information {
        font-size: 0.6rem;
    }

    .post-container .date-icon,
    .post-container .category-icon {
        font-size: 0.8rem;
    }

    .post-file-content .post-data {
        font-size: 1.5rem;
    }
}