.tags-container {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.tags-container .tag {
    margin: 0.2rem;
    padding: 0px 10px;
    /* border: 2px solid white; */
    display: inline-block;
    background-color: rgb(53, 47, 47);
    border-radius: 25%;
    cursor: pointer;
    color: rgb(170, 170, 170);
}

.tags-container .tag:hover {
    color: rgba(170, 170, 170, 0.6);
}